<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Spring boot CRUD App example with Thymeleaf</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
  <div th:replace="~{components/header :: header}"></div>

  <h2 class="text-center" th="${pageTitle}"></h2>

  <div class="my-3">
    <form th:action="@{/save}" method="post" enctype="multipart/form-data" th:object="${user}"
      style="max-width: 550px; margin: 0 auto">

      <input type="hidden" th:field="*{id}" />

      <div class="p-3">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="name">Имя</label>
          <div class="col-sm-9">
            <input type="text" th:field="*{name}" maxlength="128" class="form-control"
              id="name" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="age">Возраст</label>
          <div class="col-sm-9">
            <input type="number" th:field="*{age}" value="" class="form-control"
              id="age"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="email">Эл. почта</label>
          <div class="col-sm-9">
            <input type="text" th:field="*{email}" maxlength="200" class="form-control" id="email" />
          </div>
        </div>

        <div class="text-center">
          <input type="submit" value="СОХРАНИТЬ" class="btn btn-primary btn-sm mr-2" />
        </div>
      </div>
    </form>
  </div>

  <div th:replace="~{components/footer :: footer}"></div>
</body>

</html>